<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play List</title>
</head>
<body bgcolor=" #cbf0ee" text="blue">
    <h1>Player Music</h1>
    <ul type="A"  > 
        <li><b >Musica 1</b> </li>
        <li><strong><font color="red">Musica 1</font></strong> </li>
        <li><i>Musica 1</i> </li>
        <li ><em>Musica 1</em> </li>
        <li>Musica 1 </li>
    </ul>
</body>
</html>